@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    line-height: 16px;
    margin: 0;
    padding: 0;
    background-color: #1e1e21;
    font-size: 14px;
    color: #dfdcd9;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    font-size: 16px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 2vh 24vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #0c0c0f;
    border-bottom: 1px solid #dc0e0e;
    margin-bottom: 10px;
}

.wrapper_inner {
    display: flex;
    flex-direction: row;
}

.header_item {
    margin: 0 10px;
}

.main_wrapper {
    margin: 0 16vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.main_index_wrapper {
    margin: 0 2vw;
    width: 40vw;
    overflow: hidden;
}

.hot_new_daily img {
    width: 40vw;
}

.hot_new_daily {
    position: relative;
    overflow: hidden;
}

.hot_new_text {
    font-size: 16px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 2vh 2vw;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.05) 0%,
        rgba(150, 150, 150, 0.03) 100%
    );
    overflow: hidden;
}

.hot_new_date_com svg {
    margin: 0;
    padding: 0;
}

.hot_new_date_com {
    display: flex;
    flex-direction: row;
}

.hot_new_date_com p {
    margin-right: 1vw;
}

.wrapper_news_index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 0;
}

.news_item_wrapper img {
    width: 19vw;
    overflow: hidden;
}

.news_item_wrapper {
    position: relative;
    margin: 1vh 0vw;
}

.news_item_text {
    font-size: 12px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18vw;
    margin: 1vh 1vw;
    /* background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(150, 150, 150, 0.03) 100%
    ); */
    overflow: hidden;
}

.news_item_date_com {
    width: 100%;
}

.news_item_date_com svg {
    margin: 0;
    padding: 0;
}

.news_item_date_com {
    display: flex;
    flex-direction: row;
}

.news_item_date_com p {
    margin-right: 1vw;
}

.news_item {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    border-color: #2e2e32;
    background-color: #26262a;
    box-shadow: 0 1px 1px 0 rgb(12 12 15 / 10%);
    margin-bottom: 15px;
}

.news_item img {
    width: 15vw;
}

.news_item_index_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 1vw;
    width: 100%;
}

.news_item_index_date_com {
    display: flex;
    flex-direction: row;
}

.news_item_index_date_com p {
    margin-right: 1vw;
    font-size: 16px;
    line-height: 20px;
}

.btn {
    box-sizing: border-box;
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    padding: 17px 24px;
    border: 0;
    border-radius: 4px;
    background-position: right 15px center;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.2;
    font-family: montserrat, lora, sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    background-color: #0c0c0f;
    color: #fff;
}

.button_wrapper_index {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 15px 0;
}

.side_bar_index_wrapper {
    width: 16vw;
}

.panel_side {
    border-color: #2e2e32;
    background-color: #26262a;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.wrapper_title_panel {
    display: flex;
    flex-direction: row;
    padding: 15px 60px 15px 15px;
    background-color: #dc0e0e;
}

.wrapper_title_panel h3 {
    margin: 0;
    padding: 0;
}

.panel__tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.panel__tabs h4 {
    border-bottom: 4px solid #dc0e0e;
    position: relative;
    width: 100%;
    min-width: 50px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #26262a;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.1s ease;
}

.table_header,
.header_one,
.header_two {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.header_one {
    border-left: 2px solid rgba(255, 255, 255, 0);
}

.table_pilot {
    display: flex;
    flex-direction: row;
}

.table_name_pilot {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.table_name_pilot p,
.header_one p,
.header_two p,
.table_race p {
    margin: 0;
    padding: 0;
    min-width: 2vw;
}

.pilot_side_table p {
    text-align: center;
}

.table__data__driver_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f7f5f8;
}

.table_header {
    border-bottom: 1px solid #eeeeef80;
}

.header_one {
    padding: 10px 0;
}

.button_wrapper_slide {
    align-items: center;
    justify-content: center;

    align-content: center;
}

.table_race_name {
    display: flex;
    flex-direction: column;
}

.table_race {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table_race .header_two {
    margin-left: 5px;
}

.table_race img {
    margin-right: 15px;
}

.race_side_table {
    padding: 0 15px;
    justify-content: space-between;
}

.wrapper_race_flag {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.footer {
    margin-top: 100px;
    background: #0c0c0f;
    color: #f7f5f8;
    border-top: solid 1px #dc0e0e;
}

.wrapper_footer {
    padding: 50px 0;
    margin: 0 16vw;
}

.footer_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer_list li {
    margin: 0 1vw;
    padding: 0;
    list-style-type: none;
}

.footer_list {
    font-size: 16px;
    font-weight: 500;
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.footer_about {
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.main_login_wrapper {
    margin: 4vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.wrapper_form_login {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 5vh 0;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wrapper_form_login_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    max-width: 50%;
    margin: 10px 0;
    display: block;
    width: 100%;
    height: 1rem;
    padding: 0.5rem 1rem;
    padding-bottom: 1vh;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    background-color: rgb(253, 253, 253);
    border: 2px solid #dc0e0e;
    transition: all 0.3s ease;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
    background-color: rgb(253, 253, 253);
    border: 2px solid #dc0e0e;
    transition: all 0.3s ease;
}

.btn_submit {
    background-color: #dc0e0e;
    color: #fff;
}

.wrapper_lokin_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn_white {
    background-color: #fff;
    color: #0c0c0f;
}

.btn:hover {
    background-color: #dc0e0e;
    color: #fff;
    transition: all 0.3s ease;
}

.btn_white:hover {
    background-color: #dc0e0e;
    color: #fff;
    transition: all 0.3s ease;
}

.btn_submit:hover {
    background-color: #fff;
    color: #0c0c0f;
    transition: all 0.3s ease;
}

.main_show_wrapper {
    margin: 0 2vw;
    width: 40vw;
    overflow: hidden;
}

.show_wrapper {
    margin-top: 5vh;
}

.main_show_wrapper h1 {
    font-size: 50px;
    color: white;
    font-weight: 700;
    line-height: 60px;
    padding: 0;
    margin: 0;
}

.news_item_index_text h1 {
    color: white;
    font-weight: 700;
    line-height: 40px;
    padding: 0;
    margin: 0;
    padding-right: 20px;
}

.wrapper_title_post {
    border-bottom: 1px solid #eeeeef80;
    padding-bottom: 5vh;
}

.wrapper_title_post p {
    font-weight: 500;
    font-size: 20px;
}

.main_img_content {
    width: 40vw;
    overflow: hidden;
}

.main_img_content img {
    width: 40vw;
    height: 40vh;

}

.wrapper_title_post {
    margin: 0 18vw;
    overflow: hidden;
}

.wrapper_inner img {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    border-radius: 25%;
    box-shadow: 0 1px 3px 0 rgb(30 30 33 / 50%);
    cursor: pointer;
    width: 45px;
}

.wrapper_title_post p {
    font-weight: 500;
    font-size: 20px;
}

.main_img_content {
    width: 40vw;
    overflow: hidden;
}

.main_img_content img {
    width: 40vw;
}

.wrapper_title_post {
    margin: 0 18vw;
    overflow: hidden;
}

.wrapper_profile_main {
    display: flex;
    flex-direction: row;
    border: #555 1px solid;
    margin-top: 40px;
}

.sidebar_left {
    padding-top: 20px;
    color: #dfdcd9;
}

.sidebar_left h2 {
    padding: 5px 40px;
    padding-bottom: 15px;
    border-bottom: 1px white solid;
}

.option_selected {
    color: #0c0c0f;
    background-color: #dfdcd9;
    border-radius: 0 4px 4px 0;
    padding: 10px 15px;
    border-left: 4px #dc0e0e solid;
}

.sidebar_options p {
    font-size: 16px;
}

.wrapper_sidebar_border {
    margin-right: 40px;
    margin-bottom: 20px;
}

.option_logout {
    padding: 2px 0px;
    margin-left: 15px;
    color: #dc0e0e;
    cursor: pointer;
}

.option_logout:hover {
    border-bottom: 1px #dfdcd9 solid;
    color: #dfdcd9;

}

.sidebar_right {
    color: #dfdcd9;
}

.sidebar_right h2 {
    padding-bottom: 10px;
    border-bottom: 1px white solid;
}

.sidebar_right_main {
    margin-bottom: 40px;
}

.wrapper_img_profile {
    display: flex;
    flex-direction: row;
}

.wrapper_dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropzone {
    width: 20vh;
    height: 20vh;
    border: 1px solid #6c757d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}


